html, body {
  height:100%;
  width:100%;
}

@font-face {
  font-family:darbyLight;
  src:url('assets/fonts/DarbySans-Light.otf');
}

@font-face {
  font-family:darbyRegular;
  src:url('assets/fonts/DarbySans-Regular.otf');
}

@font-face {
  font-family:darbyPosterLight;
  src:url('assets/fonts/DarbySansPoster-Light.otf');
}

@font-face {
  font-family:darbyPosterRegular;
  src:url('assets/fonts/DarbySansPoster-Regular.otf');
}

@font-face {
  font-family:darbyPosterXLight;
  src:url('assets/fonts/DarbySansPoster-XLight.otf');
}

@font-face {
  font-family:mercury;
  src:url('assets/fonts/Mercury-TextG1Romant.otf');
}

.wrapper {
  height:100%;
  width:100%;
  padding:13px 15px 15px;
}

.home {
  background: url('assets/img/home.jpg') no-repeat center center fixed;
  background-size:cover;
  position:absolute;
  top:0;
  left:0;
}

header {
  width:100%;
  padding:0 15px;
}

header img {
  display:inline-block;
  min-width:265px;
  margin:0 10px -24px;
}

header .left, header .right {
  display:inline-block;
  border-top:1px solid #fff;
  width:calc(50% - 148px);
  content:'';
}

header .bookButton {
  background:#000;
  padding:5px 0;
  border-top:1px solid #fff;
  width:123px;
  border-bottom:1px solid #fff;
  text-align:center;
  position:relative;
  margin:-9px 0;
}

header .bookButton::before, header .bookButton::after {
  background:url('assets/img/bookButtonLeft.png') no-repeat center;
  position:absolute;
  content:'';
  height:34px;
  width:10px;
  top:0px;
}

header .bookButton::before {
  left:-9px;
}

header .bookButton::after {
  right:-9px;
  transform:rotate(180deg);
}

header .left::before {
  content:'';
  background: url('assets/img/borderCorners.png') no-repeat center;
  width:26px;
  height:26px;
  position:absolute;
  left:5px;
  top:25px;
}

header .right::after {
  content:'';
  background: url('assets/img/borderCorners.png') no-repeat center;
  width:26px;
  height:26px;
  position:absolute;
  right:7px;
  top:25px;
  transform:rotate(90deg);
}

nav {
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:space-around;
  align-items:flex-start;
  width:70%;
  margin:44px auto 0;
}

nav li {
  list-style:none;
  order:0;
  flex:0 1 auto;
  align-self:auto;
}

nav a {
  color:#fff;
  text-decoration:none;
  font-family:darbyLight;
  font-size:18px;
  text-transform:uppercase;
}

nav a:hover {
  color:#c0b9ba;
}

.content {
  display:flex;
  justify-content:center;
  align-items:center;
  height:calc(100% - 117px);
}

.content::before, .content::after {
  content:'';
  border-left:1px solid #fff;
  height: calc(100% - 88px);
  position: absolute;
  top: 51px;
}

.content::after {
  right:12px;
}

.content::before {
  left: 10px;
}

.content h1 {
  text-align:center;
  color:#fff;
  font-family:darbyPosterLight;
  width:605px;
  font-size:48px;
  margin:0 auto;
}

.content h1::before, .content h1::after {
  border-top:3px solid #fff;
  content:'';
  display:block;
  width:85%;
  margin:10px auto;
}

footer {
  text-align:center;
  border-bottom:1px solid #fff;
  margin:-15px auto 0;
  width:calc(100% - 32px);
  height:39px;
}

footer span {
  color:#fff;
  font-family:darbyLight;
  font-size:12px;
  text-transform:uppercase;
  display:inline-block;
}

footer::before, footer::after {
  content:'';
  background: url('assets/img/borderCorners.png') no-repeat center;
  width:26px;
  height:26px;
  position:absolute;
  bottom:11px;
}

footer::before {
  left:5px;
  transform:rotate(270deg);
}

footer::after {
  right:7px;
  transform:rotate(180deg);
}

.space {
  margin:0 18px;
}